body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 600px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

label, .producto-descripcion {
    color: #333;
}

input, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.producto-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.producto-descripcion {
    flex: 1;
    text-align: left;
}

.producto-precios {
    flex: 0 0 150px;
    text-align: right;
}

.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
    width: 300px;
}


