body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.productos-info {
    display: flex;
    align-items: center;
}

.productos-info label,
productos-info select,
productos-info input {
    margin-right: 10px;
}

.botones-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
